$clique-up-blue: #00B6C6;
$clique-up-orange: #FF7800;

$clique-up-white: #fff;
$clique-up-black: #222;
$clique-up-dark-grey: #333;
$clique-up-light-grey: #666;
$clique-up-lighter-grey: #ccc;
$clique-up-lightest-grey: #eee;